.calendar_div {
  background-color: white;
  height: auto;
  width: 400px;
  /* margin-left: 450px; */
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 0.3);
}

td {
  width: 50px;
  height: 50px;
}

.Calendar {
  text-align: center;
  /* margin-left: 100px; */
}

@media (max-width: 990px) {
  .calendar_div {
    margin: auto;
  }
}

@media (max-width: 390px) and (max-height: 844px) {
  .calendar_div {
    margin: auto;
  }
}

.Calendar > thead > tr:first-child > td {
  font-size: 1.1em;
  font-weight: bold;
}

.Calendar > thead > tr:last-child > td {
  font-weight: 600;
}

.Calendar > tbody > tr > td > p {
  height: 45px;
  width: 45px;
  border-radius: 45px;
  transition-duration: 0.2s;
  line-height: 45px;
  margin: 2.5px;
  display: block;
  text-align: center;
}

.pastDay {
  color: lightgray;
}

.today {
  background-color: #ffbceec5;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.futureDay {
  background-color: #ffffff;
  cursor: pointer;
}
.futureDay:hover {
  background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
  background: #9da9de;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
