li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  /* border-color: black; */
}

#comment_input {
  border: none;
}

#comment_input {
  width: 20%;
}

/* 중앙정렬 */

/* .article_wrap {
  display: flex;
  justify-content: center;
}

#comment_wrap {
  display: flex;
  justify-content: center;
} */

.comment_wrap {
  margin: 50px;
}

@media (max-width: 390px) and (max-height: 844px) {
  .comment_wrap {
    margin: 0;
  }
  #comment_input {
    width: 60%;
  }
}
