@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Dovemayo_gothic", sans-serif;
}

body {
  height: 100%;
}
header {
  margin: 2%;
}
ul {
  list-style-type: none;
}

ul > li {
  padding: 1%;
}
/* 
a {
  text-decoration: none;
  color: black;
}
.board > a {
  text-decoration: none;
  color: black;
} */

button {
  all: unset;
  cursor: pointer;
}
footer {
  position: relative;
  transform: translateY(-100%);
}

.index_ul {
  display: flex;
}

.nav > li {
  padding: 2% 0;
}

.explain {
  margin: 2%;
}
