@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Dovemayo_gothic", sans-serif;
}

.main_img {
  width: 76vw;
  height: 70vh;
  /* width: 80%; */
  /* border: 1px solid black; */
}

.main {
  text-align: center;
}
