.heart_icon {
  background-color: transparent;
  border: none;
  /* border-color: black; */
}

.heart_icon_top {
  margin: 10px;
}

@media (max-width: 390px) and (max-height: 844px) {
  .heart_icon_top {
    margin: 10px;
  }
}
