.write {
  width: 100%;
  /* margin: 3%; */
}
.write_wrapper {
  position: relative;
}
.menubox {
  display: flex;
  align-items: center;
}
.menubox > ul > li {
  padding: 0 0 0 0px;
}
.profile {
  z-index: 999;
}

#textarea {
  width: 70%;
  border: none;
  resize: none;
  padding: 0px 0px 0px 3em;
  overflow: hidden;
  max-height: 40%;
}
.write_btn {
  display: block;
  position: absolute;
  right: 19%;
}
#textarea:focus {
  outline: none;
}
.write .text {
  table-layout: fixed;
  /* height: 300px; */
  white-space: pre-line;
  word-break: break-all;
}
.write button {
  display: flex;
  justify-content: center;
}

#chooseFile {
  visibility: hidden;
}
.write p {
  text-align: center;
}
.menubox > ul {
  list-style-type: none;
}
.button {
  z-index: 1;
}

.x {
  position: absolute;
  right: 20%;
  z-index: 2;
}

.submit {
  color: grey;
  font-weight: bold;
  font-size: 17px;
  z-index: 99;
}

.post {
  padding: 10px;
  margin-bottom: 10px;
}
#image-show {
  width: 100%;
  height: 100%;
}

.filebox {
  position: absolute;
  top: 100%;
  left: 3%;
}

/* 파일첨부 버튼 스타일 변경 */
input[type="file"] {
  opacity: 0;
}

.bi-paperclip {
  position: absolute;
  width: 50px;
  /* bottom: -25%; */
  height: 30px;
  transform: rotate(35deg);
}
.bi-paperclip :hover {
  cursor: pointer;
}
/* .footer_li > .board {
  background: linear-gradient(
    to left bottom,
    rgb(229, 56, 162),
    rgb(47, 201, 231)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/*  미디어쿼리 */
@media (max-width: 390px) and (max-height: 844px) {
  .write_wrapper {
    margin: 3% 0% 0% 0%;
  }
  #textarea {
    width: 75%;
    padding: 0px 0px 0px 0px;
    max-height: 10%;
  }
  #image-show {
    position: relative;
    top: 100%;
    width: 50px;
    height: 50px;
    z-index: 1;
  }
  .menubox > ul {
    list-style-type: none;
    padding: 0 10px;
  }
  .write_btn {
    top: 60%;
    right: 10%;
  }
  .filebox {
    top: 60%;
  }
  .x {
    right: 10%;
  }
}
